extends ../main

block variables
    - var title = 'Maxirolls'
    - var basketHeader = true

block content
    main.basket
        .container
            .row
                .basket__wrap
                    .basket__top
                        h1.basket__title Корзина
                        .basket__num Заказ №474
                    .basket__list
                        each i in basketList
                            .bitem
                                .bitem__left
                                    a(href='/').bitem__img
                                        +image(i.src)
                                .bitem__right
                                    a(href='/').bitem__desc
                                        span.bitem__title= i.title
                                        span.bitem__chars= i.chars
                                    .bitem__count
                                        .count
                                            button(type='button').count__minus.count__btn -
                                            input(type='number' min='1' value='1' step='1' max='999').count__input
                                            button(type='button').count__plus.count__btn +
                                    .bitem__prices
                                        if i.priceold
                                            .bitem__priceold= i.priceold
                                            .bitem__price.bitem__price_new= i.price
                                        else
                                            .bitem__price= i.price
                                    button(type='button').bitem__delete
                                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.8323 10.0001L19.6199 2.21215C20.1267 1.70557 20.1267 0.88651 19.6199 0.379933C19.1133 -0.126644 18.2943 -0.126644 17.7877 0.379933L9.99988 8.16793L2.21228 0.379933C1.70548 -0.126644 0.886669 -0.126644 0.380103 0.379933C-0.126701 0.88651 -0.126701 1.70557 0.380103 2.21215L8.1677 10.0001L0.380103 17.7881C-0.126701 18.2947 -0.126701 19.1138 0.380103 19.6204C0.632555 19.8731 0.964493 20 1.29619 20C1.62789 20 1.95959 19.8731 2.21228 19.6204L9.99988 11.8324L17.7877 19.6204C18.0404 19.8731 18.3721 20 18.7038 20C19.0355 20 19.3672 19.8731 19.6199 19.6204C20.1267 19.1138 20.1267 18.2947 19.6199 17.7881L11.8323 10.0001Z"/>
                                        </svg>
                    .basket__subtop
                        h3.basket__sub Бесплатно к заказу
                    .basket__list.basket__free
                        .bitem
                            .bitem__left
                                a(href='/').bitem__img
                                    +image('images/content/basket/img.jpg')
                            .bitem__right
                                a(href='/').bitem__desc
                                    span.bitem__title Набор для суши
                                    span.bitem__chars 1050 гр |  28 шт
                                .bitem__count
                                    .bitem__num 4 шт
                                .bitem__prices
                                    .bitem__price 0 ₽
                    .basket__add
                        h3.basket__sub Добавить к заказу
                        .basket__nav
                            a(href='#').basket__arr.basket__prev
                                <svg width="34" height="16" viewBox="0 0 34 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.292893 7.29289C-0.0976295 7.68341 -0.0976296 8.31658 0.292892 8.7071L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34314C8.46159 1.95262 8.46159 1.31945 8.07107 0.92893C7.68054 0.538406 7.04738 0.538405 6.65686 0.92893L0.292893 7.29289ZM34 7L1 7L1 9L34 9L34 7Z"/>
                                </svg>
                            a(href='#').basket__arr.basket__next
                                <svg width="34" height="16" viewBox="0 0 34 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M33.7071 8.70711C34.0976 8.31658 34.0976 7.68342 33.7071 7.29289L27.3431 0.928932C26.9526 0.538408 26.3195 0.538408 25.9289 0.928932C25.5384 1.31946 25.5384 1.95262 25.9289 2.34315L31.5858 8L25.9289 13.6569C25.5384 14.0474 25.5384 14.6805 25.9289 15.0711C26.3195 15.4616 26.9526 15.4616 27.3431 15.0711L33.7071 8.70711ZM0 9H33V7H0V9Z"/>
                                </svg>
                    .basket__adds.swiper-container
                        .swiper-wrapper
                            each i in basketAdds
                                .swiper-slide.badd
                                    .badd__top
                                        a(href='/').badd__img
                                            +image(i.src)
                                    .badd__bottom
                                        a(href='/').badd__title= i.title
                                        .badd__price= i.price
                                    .badd__btns
                                        a(href='#').badd__btn.badd__minus.disabled
                                            <svg width="14" height="4" viewBox="0 0 14 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.8756 3.5797H0.458984V0.217377H13.8756V3.5797Z" fill="white"/>
                                            </svg>
                                        a(href='#').badd__btn.badd__plus
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.42409 13.348H8.41561V8.32366H13.454V5.43009H8.41561V0.405792H5.42409V5.43009H0.385742V8.32366H5.42409V13.348Z" fill="white"/>
                                            </svg>
                                    .badd__count
                                        span.badd__count-val
                                        span.badd__count-txt &nbsp;шт.
                    .basket__subtop
                        h3.basket__sub Промокод
                    .basket__promo
                        +bpromo()
                    .basket__total
                        .btotal
                            .btotal__item.btotal__item_b
                                .btotal__item-name Общая сумма
                                .btotal__item-val.btotal__item-val_or 1 360 ₽
                            .btotal__item.btotal__item_m
                                .btotal__item-name Вы сэкономили
                                .btotal__item-val 200 ₽
                            .btotal__item
                                .btotal__item-name Заказ
                                .btotal__item-val 1 000 ₽
                            .btotal__item
                                .btotal__item-name Доставка
                                .btotal__item-val 360 ₽
                    .basket__btns
                        a(href='/').basket__back.btn2
                            <svg width="25" height="8" viewBox="0 0 25 8" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.646446 3.64644C0.451185 3.84171 0.451185 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.73079 4.34027 7.73079 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976309 4.7308 0.659727 4.53553 0.464464C4.34027 0.269202 4.02369 0.269202 3.82843 0.464464L0.646446 3.64644ZM25 3.5L1 3.5L1 4.5L25 4.5L25 3.5Z"/>
                            </svg>
                            |Вернуться в меню
                        a(href='#').basket__submit.btn3 Оформить заказ




















