extends ../main

block variables
    - var title = 'Maxirolls'

block content
    main.contacts
        .container
            h1.title.contacts__title Контакты
            .contacts__list
                .contact
                    .contact__title Адрес:
                    .contact__val
                        .contact__txt г. Нефтекамск ул. Социалистическая 32в
                        button(type='button' data-id='0'
                            data-center-x = '56.093380068649964'
                            data-center-y='54.25104749999996'
                            data-zoom = '17'
                            data-baloon-x='56.093380068649964'
                            data-baloon-y='54.25104749999996'
                            data-baloon-header='Maxirolls'
                            data-baloon-body='Пицца и роллы'
                            data-baloon-footer='г. Нефтекамск ул. Социалистическая 32в'
                            data-baloon-content='Maxirolls.ru').contact__link
                            <svg width="17" height="21" viewBox="0 0 17 21" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.4748 3.61668C13.8707 1.3184 11.3284 0 8.50025 0C5.67213 0 3.12981 1.3184 1.52568 3.61668C-0.0705826 5.90334 -0.439164 8.79832 0.537756 11.356C0.799059 12.0545 1.21443 12.7331 1.76937 13.369L7.94091 20.5451C8.08049 20.7075 8.28499 20.8012 8.50025 20.8012C8.7155 20.8012 8.92001 20.7076 9.05958 20.5451L15.2294 13.3709C15.7868 12.7314 16.2016 12.0535 16.4608 11.3606C17.4397 8.79832 17.0711 5.90334 15.4748 3.61668ZM15.0849 10.8513C14.8851 11.3858 14.5589 11.9143 14.1159 12.4227C14.1146 12.4239 14.1134 12.4252 14.1124 12.4266L8.50025 18.9521L2.88464 12.4225C2.44186 11.9146 2.11563 11.3861 1.91383 10.8464C1.10592 8.73116 1.41253 6.33757 2.73427 4.44389C4.06015 2.54416 6.1619 1.45462 8.50025 1.45462C10.8386 1.45462 12.9401 2.54412 14.266 4.44389C15.588 6.33757 15.8948 8.73116 15.0849 10.8513Z" />
                            <path d="M8.49912 4.31537C6.23059 4.31537 4.38477 6.14238 4.38477 8.38833C4.38477 10.6343 6.23034 12.4613 8.49912 12.4613C10.7679 12.4613 12.6135 10.6343 12.6135 8.38833C12.6135 6.14262 10.7677 4.31537 8.49912 4.31537ZM8.49912 11.0066C7.04072 11.0066 5.85417 9.83202 5.85417 8.38829C5.85417 6.94456 7.04072 5.76995 8.49912 5.76995C9.95752 5.76995 11.1441 6.94456 11.1441 8.38829C11.1441 9.83202 9.95752 11.0066 8.49912 11.0066Z" />
                            </svg>
                            | Посмотреть на карте
                .contact
                    .contact__title График работы:
                    .contact__val
                        .contact__txt
                            | с 10:00 до 23:45
                            br
                            | (пт, сб до 00:45)
                .contact
                    .contact__title Контакты:
                    .contact__val
                        .contact__txt +7 937 863 73 76
                .contact
                    .contact__title Мы в соц. сетях:
                    .contact__val
                        .contact__socs
                            a(href='/' target='_blank').contact__soc
                                <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.2327 0H6.76727C3.03574 0 0 3.0052 0 6.6992V18.0495C0 21.7433 3.03574 24.7485 6.76727 24.7485H18.2329C21.9643 24.7485 25 21.7433 25 18.0495V6.6992C25 3.0052 21.9643 0 18.2327 0ZM12.5 19.1413C8.7307 19.1413 5.66425 16.1057 5.66425 12.3743C5.66425 8.64288 8.7307 5.60728 12.5 5.60728C16.2693 5.60728 19.3357 8.64288 19.3357 12.3743C19.3357 16.1057 16.2693 19.1413 12.5 19.1413ZM19.4992 7.20316C18.3853 7.20316 17.4793 6.30628 17.4793 5.20359C17.4793 4.1009 18.3853 3.20384 19.4992 3.20384C20.6131 3.20384 21.5193 4.1009 21.5193 5.20359C21.5193 6.30628 20.6131 7.20316 19.4992 7.20316Z"/>
                                <path d="M12.5185 8.30832C10.2436 8.30832 8.39271 10.1405 8.39271 12.3926C8.39271 14.6446 10.2436 16.4769 12.5185 16.4769C14.7935 16.4769 16.6443 14.6446 16.6443 12.3926C16.6443 10.1405 14.7935 8.30832 12.5185 8.30832Z"/>
                                <path d="M19.5287 4.3566C19.0739 4.3566 18.7037 4.72315 18.7037 5.17346C18.7037 5.62378 19.0739 5.99032 19.5287 5.99032C19.9838 5.99032 20.354 5.62406 20.354 5.17346C20.354 4.72287 19.9838 4.3566 19.5287 4.3566Z"/>
                                </svg>
                            a(href='/' target='_blank').contact__soc
                                <svg width="34" height="20" viewBox="0 0 34 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.48581 2.94438C0.868455 3.99619 1.3401 5.01043 1.82691 6.01216C2.98364 8.39219 4.17486 10.7049 5.77198 12.7968C7.386 14.9108 9.29157 16.9594 11.5363 18.327C12.1606 18.7073 12.8169 19.0282 13.5006 19.2721C16.1383 20.213 19.0313 20.1234 19.9247 19.4961C20.8181 18.8689 19.7545 14.7471 20.5629 14.2543C21.3712 13.7614 22.8177 14.8367 23.8813 15.8224C24.9449 16.808 25.7532 17.6592 26.3489 18.3312C26.7219 18.7521 26.9845 19.2544 27.4708 19.5545C28.2751 20.051 29.3469 19.996 30.2441 19.9986C30.7443 20.0001 31.2446 20.0019 31.7448 19.9953C32.0829 19.9909 32.421 20.0024 32.7589 19.9852C33.314 19.9568 34.0399 19.726 33.9983 18.9947C33.9884 18.8218 33.952 18.615 33.8868 18.4554C33.7465 18.1123 33.549 17.7564 33.3367 17.4576C32.2306 15.9007 31.4967 15.1055 30.9437 14.4782C30.3906 13.851 28.1144 11.5884 27.9656 11.1405C27.8167 10.6924 27.7688 10.4937 28.1916 9.88882C28.6144 9.28392 29.5397 7.75788 30.263 6.66028C30.7166 5.97186 31.1287 5.25204 31.5358 4.53254C32.0158 3.68424 32.4672 2.81538 32.8519 1.91445C33.024 1.5116 33.1801 1.1446 33.0736 0.693185C33.0022 0.390762 32.8407 0.125076 32.5399 0.0504509C32.3757 0.00973706 32.1966 0.00560156 32.0286 0.00560156C31.4011 0.00560156 29.763 0.00560156 29.763 0.00560156C29.467 0.00560156 29.1708 0.0010493 28.8747 0.00162495C28.5711 0.0022006 28.265 -0.000312082 27.9623 0.0270049C27.5317 0.0658349 27.2678 0.415567 27.0511 0.768177C26.7861 1.19965 26.5449 1.64855 26.2878 2.08546C26.1121 2.38402 25.9401 2.68492 25.7712 2.98782C25.5072 3.46089 25.2353 3.92889 24.9633 4.39694C24.8505 4.59109 24.7372 4.78504 24.626 4.98023C24.3069 5.54013 21.5415 9.37074 20.9884 9.52763C20.4354 9.68452 20.2439 9.63972 20.2439 8.45237C20.2439 7.26513 20.2439 0.522428 20.2439 0.522428C20.2439 0.522428 20.2015 0.0025145 19.7335 0.0025145C19.2654 0.0025145 17.0948 0.0025145 17.0948 0.0025145H12.6178C12.6178 0.0025145 11.5649 0.00711976 11.9371 1.00403C12.3094 2.0009 13.4103 2.30332 13.4103 3.96657C13.4103 5.62977 13.4103 10.4852 13.4103 10.4852C13.4103 10.4852 13.2242 11.9469 12.0223 10.7372C11.0751 9.784 10.2948 8.65699 9.60529 7.48843C8.8884 6.27355 8.31086 5.01142 7.79642 3.68906C7.64928 3.31086 7.50358 2.93203 7.35246 2.55561C7.19473 2.16265 7.03844 1.76902 6.88717 1.37329C6.7115 0.913605 6.52356 0.312788 6.04987 0.10116C5.81174 -0.00523005 5.54836 2.73915e-06 5.29452 5.50706e-05C4.35316 0.000316728 3.41185 0.00309046 2.47055 0.00120653C2.19435 0.000683214 1.91815 0.000368485 1.64195 0.00110113C0.989808 0.0027234 0.1787 -0.0175291 0.0240015 0.840393C-0.0651499 1.33456 0.11206 1.86206 0.260397 2.32488C0.327633 2.53531 0.410573 2.73751 0.48581 2.94438Z" />
                                </svg>
            .contacts__map
                #map(data-center-x='56.093380068649964'
                    data-center-y='54.25104749999996'
                    data-zoom = '17'
                    data-baloon-x='56.093380068649964'
                    data-baloon-y='54.25104749999996'
                    data-baloon-header='Maxirolls'
                    data-baloon-body='Пицца и роллы'
                    data-baloon-footer='г. Нефтекамск ул. Социалистическая 32в'
                    data-baloon-content='Maxirolls.ru')
            h2.contacts__sub Где нас найти
            .contacts__items
                .contact__item
                    .contact__img
                        +image('images/content/contacts/img.jpg')
                    .contact__desc
                        .contact__name
                            .contact__item-title г. Нефтекамск ул. Социалистическая 32в
                            a(href='#map' data-id='1'
                                data-center-x = '55.093380068649964'
                                data-center-y='54.25104749999996'
                                data-zoom = '17'
                                data-baloon-x='55.093380068649964'
                                data-baloon-y='54.25104749999996'
                                data-baloon-header='Maxirolls2'
                                data-baloon-body='Пицца и роллы2'
                                data-baloon-footer='г. Нефтекамск ул. Социалистическая 32в2'
                                data-baloon-content='Maxirolls.ru2').contact__link.contact__item-link
                                <svg width="17" height="21" viewBox="0 0 17 21" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.4748 3.61668C13.8707 1.3184 11.3284 0 8.50025 0C5.67213 0 3.12981 1.3184 1.52568 3.61668C-0.0705826 5.90334 -0.439164 8.79832 0.537756 11.356C0.799059 12.0545 1.21443 12.7331 1.76937 13.369L7.94091 20.5451C8.08049 20.7075 8.28499 20.8012 8.50025 20.8012C8.7155 20.8012 8.92001 20.7076 9.05958 20.5451L15.2294 13.3709C15.7868 12.7314 16.2016 12.0535 16.4608 11.3606C17.4397 8.79832 17.0711 5.90334 15.4748 3.61668ZM15.0849 10.8513C14.8851 11.3858 14.5589 11.9143 14.1159 12.4227C14.1146 12.4239 14.1134 12.4252 14.1124 12.4266L8.50025 18.9521L2.88464 12.4225C2.44186 11.9146 2.11563 11.3861 1.91383 10.8464C1.10592 8.73116 1.41253 6.33757 2.73427 4.44389C4.06015 2.54416 6.1619 1.45462 8.50025 1.45462C10.8386 1.45462 12.9401 2.54412 14.266 4.44389C15.588 6.33757 15.8948 8.73116 15.0849 10.8513Z" />
                                <path d="M8.49912 4.31537C6.23059 4.31537 4.38477 6.14238 4.38477 8.38833C4.38477 10.6343 6.23034 12.4613 8.49912 12.4613C10.7679 12.4613 12.6135 10.6343 12.6135 8.38833C12.6135 6.14262 10.7677 4.31537 8.49912 4.31537ZM8.49912 11.0066C7.04072 11.0066 5.85417 9.83202 5.85417 8.38829C5.85417 6.94456 7.04072 5.76995 8.49912 5.76995C9.95752 5.76995 11.1441 6.94456 11.1441 8.38829C11.1441 9.83202 9.95752 11.0066 8.49912 11.0066Z" />
                                </svg>
                                | Посмотреть на карте
                        .contact__tel +7 937 650 50 65
                        .contact__time
                            | с 10:00 до 23:45
                            br
                            | (пт, сб до 00:45)
                .contact__item
                    .contact__img
                        +image('images/content/contacts/img.jpg')
                    .contact__desc
                        .contact__name
                            .contact__item-title г. Нефтекамск ул. Социалистическая 32в
                            a(href='#map' data-id='2'
                                data-center-x = '57.093380068649964'
                                data-center-y='54.25104749999996'
                                data-zoom = '17'
                                data-baloon-x='57.093380068649964'
                                data-baloon-y='54.25104749999996'
                                data-baloon-header='Maxirolls3'
                                data-baloon-body='Пицца и роллы3'
                                data-baloon-footer='г. Нефтекамск ул. Социалистическая 32в3'
                                data-baloon-content='Maxirolls.ru3').contact__link.contact__item-link
                                <svg width="17" height="21" viewBox="0 0 17 21" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.4748 3.61668C13.8707 1.3184 11.3284 0 8.50025 0C5.67213 0 3.12981 1.3184 1.52568 3.61668C-0.0705826 5.90334 -0.439164 8.79832 0.537756 11.356C0.799059 12.0545 1.21443 12.7331 1.76937 13.369L7.94091 20.5451C8.08049 20.7075 8.28499 20.8012 8.50025 20.8012C8.7155 20.8012 8.92001 20.7076 9.05958 20.5451L15.2294 13.3709C15.7868 12.7314 16.2016 12.0535 16.4608 11.3606C17.4397 8.79832 17.0711 5.90334 15.4748 3.61668ZM15.0849 10.8513C14.8851 11.3858 14.5589 11.9143 14.1159 12.4227C14.1146 12.4239 14.1134 12.4252 14.1124 12.4266L8.50025 18.9521L2.88464 12.4225C2.44186 11.9146 2.11563 11.3861 1.91383 10.8464C1.10592 8.73116 1.41253 6.33757 2.73427 4.44389C4.06015 2.54416 6.1619 1.45462 8.50025 1.45462C10.8386 1.45462 12.9401 2.54412 14.266 4.44389C15.588 6.33757 15.8948 8.73116 15.0849 10.8513Z" />
                                <path d="M8.49912 4.31537C6.23059 4.31537 4.38477 6.14238 4.38477 8.38833C4.38477 10.6343 6.23034 12.4613 8.49912 12.4613C10.7679 12.4613 12.6135 10.6343 12.6135 8.38833C12.6135 6.14262 10.7677 4.31537 8.49912 4.31537ZM8.49912 11.0066C7.04072 11.0066 5.85417 9.83202 5.85417 8.38829C5.85417 6.94456 7.04072 5.76995 8.49912 5.76995C9.95752 5.76995 11.1441 6.94456 11.1441 8.38829C11.1441 9.83202 9.95752 11.0066 8.49912 11.0066Z" />
                                </svg>
                                | Посмотреть на карте
                        .contact__tel +7 937 650 50 65
                        .contact__time
                            | с 10:00 до 23:45
                            br
                            | (пт, сб до 00:45)
                .contact__item
                    .contact__img
                        +image('images/content/contacts/img.jpg')
                    .contact__desc
                        .contact__name
                            .contact__item-title г. Нефтекамск ул. Социалистическая 32в
                            a(href='#map' data-id='3'
                                data-center-x = '55.093380068649964'
                                data-center-y='53.25104749999996'
                                data-zoom = '17'
                                data-baloon-x='55.093380068649964'
                                data-baloon-y='53.25104749999996'
                                data-baloon-header='Maxirolls4'
                                data-baloon-body='Пицца и роллы'
                                data-baloon-footer='г. Нефтекамск ул. Социалистическая 32в4'
                                data-baloon-content='Maxirolls.ru4').contact__link.contact__item-link
                                <svg width="17" height="21" viewBox="0 0 17 21" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.4748 3.61668C13.8707 1.3184 11.3284 0 8.50025 0C5.67213 0 3.12981 1.3184 1.52568 3.61668C-0.0705826 5.90334 -0.439164 8.79832 0.537756 11.356C0.799059 12.0545 1.21443 12.7331 1.76937 13.369L7.94091 20.5451C8.08049 20.7075 8.28499 20.8012 8.50025 20.8012C8.7155 20.8012 8.92001 20.7076 9.05958 20.5451L15.2294 13.3709C15.7868 12.7314 16.2016 12.0535 16.4608 11.3606C17.4397 8.79832 17.0711 5.90334 15.4748 3.61668ZM15.0849 10.8513C14.8851 11.3858 14.5589 11.9143 14.1159 12.4227C14.1146 12.4239 14.1134 12.4252 14.1124 12.4266L8.50025 18.9521L2.88464 12.4225C2.44186 11.9146 2.11563 11.3861 1.91383 10.8464C1.10592 8.73116 1.41253 6.33757 2.73427 4.44389C4.06015 2.54416 6.1619 1.45462 8.50025 1.45462C10.8386 1.45462 12.9401 2.54412 14.266 4.44389C15.588 6.33757 15.8948 8.73116 15.0849 10.8513Z" />
                                <path d="M8.49912 4.31537C6.23059 4.31537 4.38477 6.14238 4.38477 8.38833C4.38477 10.6343 6.23034 12.4613 8.49912 12.4613C10.7679 12.4613 12.6135 10.6343 12.6135 8.38833C12.6135 6.14262 10.7677 4.31537 8.49912 4.31537ZM8.49912 11.0066C7.04072 11.0066 5.85417 9.83202 5.85417 8.38829C5.85417 6.94456 7.04072 5.76995 8.49912 5.76995C9.95752 5.76995 11.1441 6.94456 11.1441 8.38829C11.1441 9.83202 9.95752 11.0066 8.49912 11.0066Z" />
                                </svg>
                                | Посмотреть на карте
                        .contact__tel +7 937 650 50 65
                        .contact__time
                            | с 10:00 до 23:45
                            br
                            | (пт, сб до 00:45)
                .contact__item
                    .contact__img
                        +image('images/content/contacts/img.jpg')
                    .contact__desc
                        .contact__name
                            .contact__item-title г. Нефтекамск ул. Социалистическая 32в
                            a(href='#map' data-id='4'
                                data-center-x = '53.093380068649964'
                                data-center-y='54.25104749999996'
                                data-zoom = '17'
                                data-baloon-x='53.093380068649964'
                                data-baloon-y='54.25104749999996'
                                data-baloon-header='Maxirolls5'
                                data-baloon-body='Пицца и роллы'
                                data-baloon-footer='г. Нефтекамск ул. Социалистическая 32в5'
                                data-baloon-content='Maxirolls.ru5').contact__link.contact__item-link
                                <svg width="17" height="21" viewBox="0 0 17 21" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.4748 3.61668C13.8707 1.3184 11.3284 0 8.50025 0C5.67213 0 3.12981 1.3184 1.52568 3.61668C-0.0705826 5.90334 -0.439164 8.79832 0.537756 11.356C0.799059 12.0545 1.21443 12.7331 1.76937 13.369L7.94091 20.5451C8.08049 20.7075 8.28499 20.8012 8.50025 20.8012C8.7155 20.8012 8.92001 20.7076 9.05958 20.5451L15.2294 13.3709C15.7868 12.7314 16.2016 12.0535 16.4608 11.3606C17.4397 8.79832 17.0711 5.90334 15.4748 3.61668ZM15.0849 10.8513C14.8851 11.3858 14.5589 11.9143 14.1159 12.4227C14.1146 12.4239 14.1134 12.4252 14.1124 12.4266L8.50025 18.9521L2.88464 12.4225C2.44186 11.9146 2.11563 11.3861 1.91383 10.8464C1.10592 8.73116 1.41253 6.33757 2.73427 4.44389C4.06015 2.54416 6.1619 1.45462 8.50025 1.45462C10.8386 1.45462 12.9401 2.54412 14.266 4.44389C15.588 6.33757 15.8948 8.73116 15.0849 10.8513Z" />
                                <path d="M8.49912 4.31537C6.23059 4.31537 4.38477 6.14238 4.38477 8.38833C4.38477 10.6343 6.23034 12.4613 8.49912 12.4613C10.7679 12.4613 12.6135 10.6343 12.6135 8.38833C12.6135 6.14262 10.7677 4.31537 8.49912 4.31537ZM8.49912 11.0066C7.04072 11.0066 5.85417 9.83202 5.85417 8.38829C5.85417 6.94456 7.04072 5.76995 8.49912 5.76995C9.95752 5.76995 11.1441 6.94456 11.1441 8.38829C11.1441 9.83202 9.95752 11.0066 8.49912 11.0066Z" />
                                </svg>
                                | Посмотреть на карте
                        .contact__tel +7 937 650 50 65
                        .contact__time
                            | с 10:00 до 23:45
                            br
                            | (пт, сб до 00:45)












