extends ../main

block variables
    - var title = 'Maxirolls'

block content
    main.index
        //- actions
        section.index__actions
            .iactions
                .container
                    .iactions__link
                        .ialink
                            a(href='actions.html').ialink__link Смотреть все
                            .ialink__arr
                                <svg width="118" height="9" viewBox="0 0 118 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.146461 4.14644C-0.0487976 4.3417 -0.0487976 4.65829 0.146461 4.85355L3.32845 8.03553C3.5237 8.23079 3.84029 8.23079 4.03555 8.03553C4.23081 7.84027 4.23081 7.52368 4.03555 7.32842L1.20712 4.49999L4.03555 1.67157C4.23081 1.47631 4.23081 1.15972 4.03555 0.964461C3.84029 0.769199 3.5237 0.769199 3.32845 0.964461L0.146461 4.14644ZM117.5 4L0.500015 3.99999V4.99999L117.5 5L117.5 4Z" fill="#D2D2D2"/>
                                </svg>
                            .ialink__txt Акутальные акции

                    +actions(iactions)
                    .iactions__link.iactions__link_r
                        .ialink
                            .ialink__link Мы в соц . сетях
                            .ialink__arr
                                <svg width="181" height="8" viewBox="0 0 181 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M79.5007 4V4.5V4ZM180.354 4.35355C180.55 4.15829 180.55 3.84171 180.354 3.64645L177.172 0.464466C176.977 0.269204 176.66 0.269204 176.465 0.464466C176.27 0.659728 176.27 0.976311 176.465 1.17157L179.294 4L176.465 6.82843C176.27 7.02369 176.27 7.34027 176.465 7.53553C176.66 7.7308 176.977 7.7308 177.172 7.53553L180.354 4.35355ZM0.00073243 4.5L79.5007 4.5V3.5L0.000732413 3.5L0.00073243 4.5ZM79.5007 4.5L180.001 4.5V3.5L79.5007 3.5V4.5Z" fill="#D2D2D2"/>
                                </svg>
                            .ialink__socials
                                a(href='/' target='_blank').ialink__social
                                    <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.2327 0.755432H6.76727C3.03574 0.755432 0 3.76063 0 7.45462V18.8049C0 22.4987 3.03574 25.5039 6.76727 25.5039H18.2329C21.9643 25.5039 25 22.4987 25 18.8049V7.45462C25 3.76063 21.9643 0.755432 18.2327 0.755432ZM12.5 19.8966C8.7307 19.8966 5.66425 16.861 5.66425 13.1297C5.66425 9.39829 8.7307 6.3627 12.5 6.3627C16.2693 6.3627 19.3357 9.39829 19.3357 13.1297C19.3357 16.861 16.2693 19.8966 12.5 19.8966ZM19.4992 7.95857C18.3853 7.95857 17.4793 7.06169 17.4793 5.95901C17.4793 4.85632 18.3853 3.95926 19.4992 3.95926C20.6131 3.95926 21.5193 4.85632 21.5193 5.95901C21.5193 7.06169 20.6131 7.95857 19.4992 7.95857Z" />
                                    <path d="M12.5185 9.06373C10.2436 9.06373 8.39271 10.8959 8.39271 13.148C8.39271 15.4 10.2436 17.2323 12.5185 17.2323C14.7935 17.2323 16.6443 15.4 16.6443 13.148C16.6443 10.8959 14.7935 9.06373 12.5185 9.06373Z" />
                                    <path d="M19.5287 5.11202C19.0739 5.11202 18.7037 5.47857 18.7037 5.92888C18.7037 6.37919 19.0739 6.74574 19.5287 6.74574C19.9838 6.74574 20.354 6.37947 20.354 5.92888C20.354 5.47829 19.9838 5.11202 19.5287 5.11202Z" />
                                    </svg>
                                a(href='/' target='_blank').ialink__social
                                    <svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.457233 3.0012C0.817369 3.99036 1.26127 4.94419 1.71944 5.88626C2.80813 8.12455 3.92928 10.2995 5.43245 12.2668C6.95153 14.2549 8.74501 16.1815 10.8577 17.4676C11.4453 17.8253 12.063 18.1271 12.7064 18.3565C15.189 19.2413 17.9118 19.1571 18.7526 18.5672C19.5935 17.9773 18.5925 14.1009 19.3533 13.6375C20.1141 13.174 21.4755 14.1852 22.4765 15.1122C23.4776 16.0391 24.2383 16.8396 24.799 17.4716C25.15 17.8674 25.3972 18.3398 25.8548 18.6221C26.6119 19.0889 27.6206 19.0372 28.465 19.0397C28.9358 19.0411 29.4067 19.0428 29.8775 19.0366C30.1956 19.0324 30.5139 19.0433 30.8319 19.0271C31.3544 19.0004 32.0376 18.7834 31.9984 18.0956C31.9891 17.933 31.9548 17.7385 31.8934 17.5884C31.7614 17.2658 31.5755 16.931 31.3757 16.65C30.3347 15.1859 29.644 14.438 29.1235 13.8481C28.6029 13.2583 26.4607 11.1304 26.3205 10.7092C26.1804 10.2878 26.1353 10.1009 26.5332 9.53204C26.9312 8.96316 27.8021 7.52801 28.4828 6.49579C28.9098 5.84837 29.2976 5.17142 29.6807 4.49476C30.1325 3.69699 30.5574 2.87988 30.9195 2.0326C31.0814 1.65375 31.2283 1.3086 31.1281 0.884078C31.0609 0.599666 30.9089 0.349804 30.6258 0.279624C30.4713 0.241335 30.3027 0.237446 30.1445 0.237446C29.5539 0.237446 28.0123 0.237446 28.0123 0.237446C27.7336 0.237446 27.4549 0.233165 27.1762 0.233706C26.8905 0.234247 26.6024 0.231884 26.3175 0.257574C25.9122 0.294092 25.6638 0.622995 25.4599 0.954603C25.2105 1.36038 24.9834 1.78254 24.7415 2.19344C24.5761 2.47421 24.4142 2.75719 24.2552 3.04204C24.0068 3.48695 23.7508 3.92707 23.4949 4.36725C23.3887 4.54984 23.2821 4.73222 23.1774 4.9158C22.8771 5.44234 20.2743 9.04481 19.7538 9.19236C19.2333 9.3399 19.0531 9.29778 19.0531 8.18114C19.0531 7.06461 19.0531 0.72349 19.0531 0.72349C19.0531 0.72349 19.0132 0.234542 18.5727 0.234542C18.1322 0.234542 16.0892 0.234542 16.0892 0.234542H11.8756C11.8756 0.234542 10.8846 0.238873 11.235 1.17641C11.5853 2.1139 12.6214 2.39832 12.6214 3.96251C12.6214 5.52665 12.6214 10.0929 12.6214 10.0929C12.6214 10.0929 12.4463 11.4676 11.3151 10.3299C10.4237 9.43346 9.68922 8.37357 9.04027 7.27461C8.36556 6.13209 7.82198 4.94513 7.33781 3.70152C7.19932 3.34585 7.06219 2.98958 6.91996 2.63558C6.77151 2.26603 6.62441 1.89583 6.48204 1.52367C6.31671 1.09137 6.13982 0.526337 5.694 0.327313C5.46987 0.227259 5.22198 0.23218 4.98308 0.23223C4.09709 0.232476 3.21116 0.235084 2.32522 0.233312C2.06527 0.23282 1.80531 0.232524 1.54536 0.233213C0.931584 0.234739 0.168188 0.215693 0.0225896 1.02252C-0.0613176 1.48725 0.105468 1.98334 0.245079 2.41859C0.308361 2.61648 0.386421 2.80665 0.457233 3.0012Z" />
                                    </svg>

        //- food
        section.index__food
            .container
                .food
                    .food__wrap
                        h2.food__title Меню
                        .food__cart.food__cart_t
                            .fcart
                                <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.08008 20.1685L2.19974 9.1685C2.09533 8.55773 2.56582 8 3.18544 8H20.8146C21.4342 8 21.9047 8.55773 21.8003 9.1685L19.9199 20.1685C19.8378 20.6488 19.4215 21 18.9342 21H5.06578C4.57851 21 4.16218 20.6488 4.08008 20.1685Z"  stroke-width="2.5"/>
                                <path d="M18.664 7.75H5.33605C5.8644 3.96506 8.75384 1.25 12 1.25C15.2462 1.25 18.1356 3.96506 18.664 7.75Z"  stroke-width="2.5"/>
                                </svg>
                                .fcart__count 2
                                .fcart__price 1 280 ₽
                                .fcart__dropdown
                                    .cart
                                        .cart__list
                                            each i in cartList
                                                .crtitem
                                                    button(type='button').crtitem__delete
                                                        <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.28261 7.0001L13.7339 1.54851C14.0887 1.1939 14.0887 0.620557 13.7339 0.265953C13.3793 -0.088651 12.806 -0.088651 12.4514 0.265953L6.99992 5.71755L1.5486 0.265953C1.19384 -0.088651 0.620668 -0.088651 0.266072 0.265953C-0.0886906 0.620557 -0.0886906 1.1939 0.266072 1.54851L5.71739 7.0001L0.266072 12.4517C-0.0886906 12.8063 -0.0886906 13.3797 0.266072 13.7343C0.442789 13.9111 0.675145 14 0.907335 14C1.13953 14 1.37172 13.9111 1.5486 13.7343L6.99992 8.28266L12.4514 13.7343C12.6283 13.9111 12.8605 14 13.0927 14C13.3249 14 13.557 13.9111 13.7339 13.7343C14.0887 13.3797 14.0887 12.8063 13.7339 12.4517L8.28261 7.0001Z"/>
                                                        </svg>
                                                    .crtitem__left
                                                        .crtitem__img
                                                            +image(i.src)
                                                    .crtitem__right
                                                        .crtitem__title= i.title
                                                        .crtitem__sub= i.sub
                                                        .crtitem__bottom
                                                            .crtitem__bottom-left
                                                                +count()
                                                            .crtitem__bottom-right
                                                                .crtitem__prices
                                                                    if i.priceold
                                                                        .crtitem__priceold= i.priceold
                                                                        .crtitem__price.crtitem__price_n= i.price
                                                                    else
                                                                        .crtitem__price= i.price
                                        .cart__bottom
                                            .cart__totals
                                                .cart__total
                                                    .cart__total-name Сумма заказа
                                                    .cart__total-val 1 280 ₽
                                                .cart__total
                                                    .cart__total-name Количество товаров
                                                    .cart__total-val 5 шт.
                                            a(href='basket.html').cart__link.btn3 Перейти в корзину




                    .food__top
                        .food__sws
                            .sws.swiper-container
                                .swiper-wrapper
                                    each i,x in tabs
                                        button(type='button' data-id=i.id).sw.swiper-slide
                                            span.sw__txt= i.title
                                    a(href='/actions.html').sw.sw_actions.swiper-slide
                                        <svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.5144 13.6095C18.9306 12.8709 16.1534 10.083 17.3517 7.05813C17.3517 7.05813 14.516 9.25261 15.5804 12.4318C15.089 11.7246 10.4232 9.3124 10.8117 0.414917C10.8117 0.414917 10.5171 0.70279 10.066 1.20804V24.0297C12.6389 23.9585 14.576 23.1915 14.576 23.1915C14.576 23.1915 22.0518 19.4736 19.5144 13.6095Z" fill="#FF4A00"/>
                                        <path d="M5.25366 11.2541C5.25366 11.2541 5.99148 17.1436 8.4506 18.087C8.4506 18.087 3.53273 16.9086 2.54885 11.0179C2.30354 11.725 -4.40424 18.1316 4.98934 23.0731C6.72258 23.8625 8.51062 24.0729 10.066 24.0297V1.20804C8.552 2.90502 5.25366 7.0788 5.25366 11.2541Z" fill="#FF4A00"/>
                                        </svg>
                                        span.sw__txt Акции

                        .food__cart
                            .fcart
                                .fcart__arr.jsCartOpen
                                    <svg width="25" height="14" viewBox="0 0 25 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 12L12.5 3L23 12" stroke-width="4"/>
                                    </svg>
                                .fcart__icon
                                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 20.1685L2.19974 9.1685C2.09533 8.55773 2.56582 8 3.18544 8H20.8146C21.4342 8 21.9047 8.55773 21.8003 9.1685L19.9199 20.1685C19.8378 20.6488 19.4215 21 18.9342 21H5.06578C4.57851 21 4.16218 20.6488 4.08008 20.1685Z"  stroke-width="2.5"/>
                                    <path d="M18.664 7.75H5.33605C5.8644 3.96506 8.75384 1.25 12 1.25C15.2462 1.25 18.1356 3.96506 18.664 7.75Z"  stroke-width="2.5"/>
                                    </svg>
                                    .fcart__count 2
                                .fcart__price 1 280 ₽
                                .fcart__dropdown
                                    .cart
                                        .cart__list
                                            each i in cartList
                                                .crtitem
                                                    button(type='button').crtitem__delete
                                                        <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.28261 7.0001L13.7339 1.54851C14.0887 1.1939 14.0887 0.620557 13.7339 0.265953C13.3793 -0.088651 12.806 -0.088651 12.4514 0.265953L6.99992 5.71755L1.5486 0.265953C1.19384 -0.088651 0.620668 -0.088651 0.266072 0.265953C-0.0886906 0.620557 -0.0886906 1.1939 0.266072 1.54851L5.71739 7.0001L0.266072 12.4517C-0.0886906 12.8063 -0.0886906 13.3797 0.266072 13.7343C0.442789 13.9111 0.675145 14 0.907335 14C1.13953 14 1.37172 13.9111 1.5486 13.7343L6.99992 8.28266L12.4514 13.7343C12.6283 13.9111 12.8605 14 13.0927 14C13.3249 14 13.557 13.9111 13.7339 13.7343C14.0887 13.3797 14.0887 12.8063 13.7339 12.4517L8.28261 7.0001Z"/>
                                                        </svg>
                                                    .crtitem__left
                                                        .crtitem__img
                                                            +image(i.src)
                                                    .crtitem__right
                                                        .crtitem__title= i.title
                                                        .crtitem__sub= i.sub
                                                        .crtitem__bottom
                                                            .crtitem__bottom-left
                                                                +count()
                                                            .crtitem__bottom-right
                                                                .crtitem__prices
                                                                    if i.priceold
                                                                        .crtitem__priceold= i.priceold
                                                                        .crtitem__price.crtitem__price_n= i.price
                                                                    else
                                                                        .crtitem__price= i.price
                                        .cart__bottom
                                            .cart__totals
                                                .cart__total
                                                    .cart__total-name Сумма заказа
                                                    .cart__total-val 1 280 ₽
                                                .cart__total
                                                    .cart__total-name Количество товаров
                                                    .cart__total-val 5 шт.
                                            a(href='basket.html').cart__link.btn3 Перейти в корзину

                    .food__bottom
                        .tabs
                            each i,x in tabs
                                div(id=i.id).tab
                                    h3.tab__title= i.title
                                    .tab__items
                                        +items(items)






