mixin icon(iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`/images/icons/sprite.svg#${iconName}`)

mixin iconPath(iconPath,iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`${iconPath}/sprite.svg#${iconName}`)

mixin image(imagePath, imageClass, imageAlt)
    if !imageAlt
        - var alt = 'lorem'
    else
        - var alt = imageAlt
    img(src=`${imagePath}`, alt=`${alt}`, class=`${imageClass}`)

mixin items(arr)
    .items
        each i in arr
            div(data-id=i.id).item
                .item__img
                    +image(i.src)
                .item__desc
                    h3.item__title= i.title
                    .item__chars= i.chars
                    .item__txt= i.txt
                .item__bottom
                    .item__prices
                        div(class=i.priceold ? 'item__price_new':'').item__price= i.price
                        if i.priceold
                            .item__priceold= i.priceold
                    button(type='button').item__btn.btn Выбрать

mixin actions(arr,noslider)
    if noslider
        .iactions__list
            each i,x in arr
                a(href='action.html').iaction
                    +image('images/content/index/actions/' + (x + 1) + '.jpg','iaction__img')
                    span.iaction__desc
                        span.iaction__left
                            span.iaction__title= i.title
                            span.iaction__txt!=i.txt
                        span.iaction__right
                            span.iaction__link
                                | Подробнее
                                <svg width="103" height="8" viewBox="0 0 103 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M102.854 4.35355C103.049 4.15829 103.049 3.84171 102.854 3.64645L99.6716 0.464466C99.4763 0.269204 99.1597 0.269204 98.9645 0.464466C98.7692 0.659728 98.7692 0.976311 98.9645 1.17157L101.793 4L98.9645 6.82843C98.7692 7.02369 98.7692 7.34027 98.9645 7.53553C99.1597 7.7308 99.4763 7.7308 99.6716 7.53553L102.854 4.35355ZM0 4.5H102.5V3.5H0V4.5Z"/>
                                </svg>
    else
        .swiper-container.iactions__container
            .iactions__list.swiper-wrapper
                each i,x in arr
                    a(href='action.html').iaction.swiper-slide
                        +image('images/content/index/actions/' + (x + 1) + '.jpg','iaction__img')
                        span.iaction__desc
                            span.iaction__left
                                span.iaction__title= i.title
                                span.iaction__txt!=i.txt
                            span.iaction__right
                                span.iaction__link
                                    | Подробнее
                                    <svg width="103" height="8" viewBox="0 0 103 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M102.854 4.35355C103.049 4.15829 103.049 3.84171 102.854 3.64645L99.6716 0.464466C99.4763 0.269204 99.1597 0.269204 98.9645 0.464466C98.7692 0.659728 98.7692 0.976311 98.9645 1.17157L101.793 4L98.9645 6.82843C98.7692 7.02369 98.7692 7.34027 98.9645 7.53553C99.1597 7.7308 99.4763 7.7308 99.6716 7.53553L102.854 4.35355ZM0 4.5H102.5V3.5H0V4.5Z"/>
                                    </svg>
    .iactions__pag

mixin socials()
    .socials
        a(href='/' target='_blank').social
            <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.2327 0H6.76727C3.03574 0 0 3.0052 0 6.6992V18.0495C0 21.7433 3.03574 24.7485 6.76727 24.7485H18.2329C21.9643 24.7485 25 21.7433 25 18.0495V6.6992C25 3.0052 21.9643 0 18.2327 0ZM12.5 19.1413C8.7307 19.1413 5.66425 16.1057 5.66425 12.3743C5.66425 8.64288 8.7307 5.60728 12.5 5.60728C16.2693 5.60728 19.3357 8.64288 19.3357 12.3743C19.3357 16.1057 16.2693 19.1413 12.5 19.1413ZM19.4992 7.20316C18.3853 7.20316 17.4793 6.30628 17.4793 5.20359C17.4793 4.1009 18.3853 3.20384 19.4992 3.20384C20.6131 3.20384 21.5193 4.1009 21.5193 5.20359C21.5193 6.30628 20.6131 7.20316 19.4992 7.20316Z" />
            <path d="M12.5185 8.30832C10.2436 8.30832 8.39271 10.1405 8.39271 12.3926C8.39271 14.6446 10.2436 16.4769 12.5185 16.4769C14.7935 16.4769 16.6443 14.6446 16.6443 12.3926C16.6443 10.1405 14.7935 8.30832 12.5185 8.30832Z" />
            <path d="M19.5287 4.3566C19.0739 4.3566 18.7037 4.72315 18.7037 5.17346C18.7037 5.62378 19.0739 5.99032 19.5287 5.99032C19.9838 5.99032 20.354 5.62406 20.354 5.17346C20.354 4.72287 19.9838 4.3566 19.5287 4.3566Z" />
            </svg>
        a(href='/' target='_blank').social
            <svg width="34" height="20" viewBox="0 0 34 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.48581 2.94438C0.868455 3.99619 1.3401 5.01043 1.82691 6.01216C2.98364 8.39219 4.17486 10.7049 5.77198 12.7968C7.386 14.9108 9.29157 16.9594 11.5363 18.327C12.1606 18.7073 12.8169 19.0282 13.5006 19.2721C16.1383 20.213 19.0313 20.1234 19.9247 19.4961C20.8181 18.8689 19.7545 14.7471 20.5629 14.2543C21.3712 13.7614 22.8177 14.8367 23.8813 15.8224C24.9449 16.808 25.7532 17.6592 26.3489 18.3312C26.7219 18.7521 26.9845 19.2544 27.4708 19.5545C28.2751 20.051 29.3469 19.996 30.2441 19.9986C30.7443 20.0001 31.2446 20.0019 31.7448 19.9953C32.0829 19.9909 32.421 20.0024 32.7589 19.9852C33.314 19.9568 34.0399 19.726 33.9983 18.9947C33.9884 18.8218 33.952 18.615 33.8868 18.4554C33.7465 18.1123 33.549 17.7564 33.3367 17.4576C32.2306 15.9007 31.4967 15.1055 30.9437 14.4782C30.3906 13.851 28.1144 11.5884 27.9656 11.1405C27.8167 10.6924 27.7688 10.4937 28.1916 9.88882C28.6144 9.28392 29.5397 7.75788 30.263 6.66028C30.7166 5.97186 31.1287 5.25204 31.5358 4.53254C32.0158 3.68424 32.4672 2.81538 32.8519 1.91445C33.024 1.5116 33.1801 1.1446 33.0736 0.693185C33.0022 0.390762 32.8407 0.125076 32.5399 0.0504509C32.3757 0.00973706 32.1966 0.00560156 32.0286 0.00560156C31.4011 0.00560156 29.763 0.00560156 29.763 0.00560156C29.467 0.00560156 29.1708 0.0010493 28.8747 0.00162495C28.5711 0.0022006 28.265 -0.000312082 27.9623 0.0270049C27.5317 0.0658349 27.2678 0.415567 27.0511 0.768177C26.7861 1.19965 26.5449 1.64855 26.2878 2.08546C26.1121 2.38402 25.9401 2.68492 25.7712 2.98782C25.5072 3.46089 25.2353 3.92889 24.9633 4.39694C24.8505 4.59109 24.7372 4.78504 24.626 4.98023C24.3069 5.54013 21.5415 9.37074 20.9884 9.52763C20.4354 9.68452 20.2439 9.63972 20.2439 8.45237C20.2439 7.26513 20.2439 0.522428 20.2439 0.522428C20.2439 0.522428 20.2015 0.0025145 19.7335 0.0025145C19.2654 0.0025145 17.0948 0.0025145 17.0948 0.0025145H12.6178C12.6178 0.0025145 11.5649 0.00711976 11.9371 1.00403C12.3094 2.0009 13.4103 2.30332 13.4103 3.96657C13.4103 5.62977 13.4103 10.4852 13.4103 10.4852C13.4103 10.4852 13.2242 11.9469 12.0223 10.7372C11.0751 9.784 10.2948 8.65699 9.60529 7.48843C8.8884 6.27355 8.31086 5.01142 7.79642 3.68906C7.64928 3.31086 7.50358 2.93203 7.35246 2.55561C7.19473 2.16265 7.03844 1.76902 6.88717 1.37329C6.7115 0.913605 6.52356 0.312788 6.04987 0.10116C5.81174 -0.00523005 5.54836 2.73915e-06 5.29452 5.50706e-05C4.35316 0.000316728 3.41185 0.00309046 2.47055 0.00120653C2.19435 0.000683214 1.91815 0.000368485 1.64195 0.00110113C0.989808 0.0027234 0.1787 -0.0175291 0.0240015 0.840393C-0.0651499 1.33456 0.11206 1.86206 0.260397 2.32488C0.327633 2.53531 0.410573 2.73751 0.48581 2.94438Z"/>
            </svg>

mixin bpromo()
    .bpromo
        .bpromo__left
            input(type='text' name='promo' placeholder='Введите промокод').input.bpromo__input
            button(type='submit').btn.bpromo__submit Применить
        .bpromo__right
            .bpromo__socials
                +socials()
            .bpromo__txt Следите за нами в социальных сетях, чтобы получить промокод

mixin cinfo()
    .cinfo
        .cinfo__left
            h3.cinfo__title Текущий заказ № 474
            .cinfo__addr г. Нефеткамск, ул. Ленина 20/14
            .cinfo__date 26 июля 2020, 19:00
        .cinfo__right
            .cinfo__time
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.5624 25.0632L22.8458 20.7758V12.0424C22.8458 11.1642 22.136 10.4544 21.2579 10.4544C20.3797 10.4544 19.6699 11.1642 19.6699 12.0424V21.5699C19.6699 22.0701 19.905 22.5417 20.3051 22.8403L26.6567 27.604C26.9425 27.8184 27.2761 27.9216 27.6079 27.9216C28.0922 27.9216 28.5686 27.704 28.8799 27.2848C29.4072 26.5845 29.2642 25.5889 28.5624 25.0632Z" fill="#FFC000"/>
                <path d="M21.2578 0.942871C9.95342 0.942871 0.757812 10.1385 0.757812 21.4429C0.757812 32.7473 9.95342 41.9429 21.2578 41.9429C32.5622 41.9429 41.7578 32.7473 41.7578 21.4429C41.7578 10.1385 32.5622 0.942871 21.2578 0.942871ZM21.2578 38.7671C11.7065 38.7671 3.93363 30.9942 3.93363 21.4429C3.93363 11.8916 11.7065 4.11869 21.2578 4.11869C30.8107 4.11869 38.582 11.8916 38.582 21.4429C38.582 30.9942 30.8091 38.7671 21.2578 38.7671Z" fill="#FFC000"/>
                </svg>
                | Заказ будет
                br
                | готов в 19:30*

mixin clist()
    .clist
        each i in infoList
            .clist__item
                .clitem
                    .clitem__img
                        +image(i.src)
                    .clitem__desc
                        .clitem__title= i.title
                        if i.chars
                            .clitem__chars= i.chars
                        else
                            .clitem__chars 1050 гр |  28 шт
                    .clitem__prices
                        if i.priceold
                            .clitem__priceold= i.priceold
                            .clitem__price.clitem__price_n= i.price
                        else
                            .clitem__price= i.price

mixin btotal()
    .btotal
        .btotal__item.btotal__item_b
            .btotal__item-name Общая сумма
            .btotal__item-val.btotal__item-val_or 1 360 ₽
        .btotal__item.btotal__item_m
            .btotal__item-name Вы сэкономили
            .btotal__item-val 200 ₽
        .btotal__item
            .btotal__item-name Заказ
            .btotal__item-val 1 000 ₽
        .btotal__item
            .btotal__item-name Доставка
            .btotal__item-val 360 ₽

mixin current()
    .current
        .current__info
            +cinfo()
        .current__list
            +clist()
        .current__total
            +btotal()

mixin count()
    .count
        button(type='button').count__minus.count__btn -
        input(type='number' min='1' value='1' step='1' max='999').count__input
        button(type='button').count__plus.count__btn +
